APP_NAME=CCAK-Backend
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
AUTH_GUARD=api

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=ucak_db  
DB_USERNAME=postgres
DB_PASSWORD=postgres

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

KEYCLOAK_SYNC_ROLES=false
KEYCLOAK_ROLE_ALLOWLIST=ADMIN,FACULTY,STUDENT,STAFF
KEYCLOAK_REALM_PUBLIC_KEY=
KEYCLOAK_TOKEN_ENCRYPTION_ALGORITHM=RS256
KEYCLOAK_LOAD_USER_FROM_DATABASE=true
KEYCLOAK_USER_PROVIDER_CUSTOM_RETRIEVE_METHOD=retrieveByKeycloakToken
KEYCLOAK_USER_PROVIDER_CREDENTIAL=keycloak_id
KEYCLOAK_TOKEN_PRINCIPAL_ATTRIBUTE=sub
KEYCLOAK_APPEND_DECODED_TOKEN=false
KEYCLOAK_ALLOWED_RESOURCES=account,ccak-backend
KEYCLOAK_IGNORE_RESOURCES_VALIDATION=false
KEYCLOAK_LEEWAY=0
KEYCLOAK_TOKEN_INPUT_KEY=
SCRAMBLE_REQUIRE_AUTH=false

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
